.pcf1 {
    line-height: 2.5em;
    font-size: 1.1rem;
    letter-spacing: 2px;

}

.pcf2 {
    line-height: 2.5em;
    font-size: 1.1rem;
}

.pcf3 {
    font-size: 1.07rem;

}

.pcf4 {
    font-size: rem;
    letter-spacing: 5px;
}

.pcf5 {
    line-height: 1.9em;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-right: 20%
}

.pcf58 {
    line-height: 1.9em;
    font-size: 1rem;
    letter-spacing: 1px;
}

.xm {
    margin: 0% 15%;
}

.xp {
    padding-left: 40px
}
